#mtb{

	 width: 500px;
}

#ruta{

	width: 500px;
}

#fixie{

	width: 500px;
}

#imagen{
			position: absolute;
		width: 300px;

	font: bold 22px Verdana, Arial, Sans-serif;
	color: White;
	margin: 4px;
	line-height: 20px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: .5;
	-moz-opacity: .5;

}

#canon{

	width: 500px;
}

#igua{

	width: 500px;
}