<!DOCTYPE html>
<html>
  <head>
    <title>Flask</title>
    <script src="static/js/jquery-1.11.3.min.js"> </script>
    <script src="static/js/funciones.js"> </script>

    </script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Flask App</h1>
        <strong><nav>
          <ul class="menu">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>


          </ul>
        </nav></strong>
        <div class="well">
        <input class="btn btn-warning"type='button' id="botoncito" value="Boton controlado con ajax" />

          <script type="text/javascript">
            //$("#botoncito").hide();

            $('#botoncito').click(function(){
            var btn = $(this);
            $.post('http://jsfiddle.net/echo/jsonp/',{delay: 5}).complete(function(){
            btn.prop('disabled', false);
                        });
            btn.prop('disabled', true);

            });



          </script>


        </div>

      </div>
      </header>

      <h1>Preguntas</h1>
      <p>¿Qué ventajas y desventajas tiene la tecnología que seleccionaste con respecto al desarrollo que habías realizado anteriormente con php?</p>
      <p>
        Al ser Flask un framwork basado en python siento que la programacion es muhco mas rapido, facil de debbugear.
      </p>
</body>
