<!DOCTYPE html>
<html>
  <head>
    <title>Flask</title>
    <script src="static/js/jquery-1.11.3.min.js"> </script>
    <link href="static/css/bootstrap.min.css" rel="stylesheet"> 
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Flask App</h1>
        <strong><nav>
          <ul class="menu">
          <li><a href="{{url_for('home')}}">Home</a></li>
          <li><a href="{{url_for('about')}}">About</a></li>


          </ul>
        </nav>></strong>>
      </div>
      </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
