img{
    width: 100px;
    border-radius: 5px;

}

#nombre{
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    margin: 0 auto;
    width: 300px;
}

#titulo{
    font-family:cursive;
    color: aliceblue;
}

#art1{
    background-color: bisque;
    margin: 0 auto;
    background-image:url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg);
    border-radius: 10px;
}
    
#tituloTarea{
    margin: 0 auto;
    width: 300px;
}

#art2{

    background-color: aquamarine;
}

footer{
    font-family: fantasy;
    font-size: 10px;
}

body{
    background-color: black;
}

